<!DOCTYPE html>
<html>

 <%- include('./partials/_navbar.ejs') %>

<!-- Header Section -->
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="display-1">Sağlıklı Bir Hayat İçin</h1>
          <p class="lead">Fitness uygulamamız rehberliğinde, vücudunuz için en uygun egzersizleri ve sağlıklı besinleri keşfedin.</p>
        </div>
       
      </div>
    </div>
  </header>
  <!-- Header Section Finish -->

  <!-- Benefits Section -->
  <section class="benefits">
  <div class="container">
    <h2 class="display-4">Faydaları</h2>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1106&q=80" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Stres Azaltma</h5>
            <p class="card-text">Düzenli egzersiz yapmak, stresi azaltabilir ve zihinsel sağlığı iyileştirebilir. Egzersiz yaparken salgılanan endorfinler, mutluluk ve rahatlama hissi yaratarak stresi azaltır.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1549060279-7e168fcee0c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Kalp Sağlığı</h5>
            <p class="card-text">Egzersiz yapmak, kalp sağlığını korumak ve kalp hastalıklarından korunmak için önemlidir. Düzenli egzersiz yapmak, kan dolaşımını artırır, kan basıncını düşürür ve kolestrol seviyesini azaltır.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Benefits Section Finish -->

     <!-- About Section -->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=40"
            alt="About Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <h2 class="display-4">Hakkımızda</h2>
          <p class="lead">Biz, sağlıklı bir hayatın anahtarının düzenli egzersiz ve dengeli beslenme olduğuna inanıyoruz.
            Fitness uygulanan tarafından hazırlanan egzersiz programları ve diyet listeleri ile size en uygun seçenekleri sunuyoruz.</p>
          <p class="lead">Ayrıca, sağlıklı yaşam tarzı hakkında bilgi edinmenizi ve düzenli olarak egzersiz yapmanızı teşvik etmek için sağlıklı yaşam tarzı hakkında makaleler yayınlıyoruz.</p>
          <a href="#" class="btn btn-lg btn-outline-dark">Daha Fazla Bilgi Edinin</a>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section Finish -->
            
 <%- include('./partials/_footer.ejs') %>

  </body>

<!-- html close tag is in footer!! -->
